<div class="mb-8 container mx-auto">
  <h2 class="text-xl font-semibold text-gray-900 mb-6">Available Exams</h2>

  <!-- Empty state -->
  @if (!exams().length) {
  <app-empty-state
    title="No exams available for your year & section yet."
    subtitle="Please check back later."
  >
  </app-empty-state>
  }

  <!-- Exam list -->
  @if (exams().length) {
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    @for (exam of exams(); track exam.id) {
    <app-exam-card
      [exam]="exam"
      [icon]="cardIcon(exam)"
      (openExam)="goTo($event)"
    >
    </app-exam-card>
    }
  </div>
  }
</div>
